/**
 * @prop --my-advanced-slot-color color of the slot
 */

/** not using shadow dom, so cant use :host */
my-advanced {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  --my-advanced-slot-color: red;
}

.my-advanced-slot {
  color: var(--my-advanced-slot-color);
}

.my-advanced-slot img {
  height: 100px;
}
